<ion-view>
    <ion-content>
        <div class="bar header bar-positive">
            <h1 class="title">Réinitialisation</h1>
        </div>
        <div class="content has-header">
            <form name="form" novalidate>
                <div class="list">
                    <label class="item item-input">
                        <span class="input-label">Mot de passe actuel</span>
                        <input type="password" ng-model="user.passwordActuel" name="passwordActuel" required>
                    </label>
                    <div ng-messages="form.passwordActuel.$error" ng-show="form.$submitted" role="alert">
                        <div ng-messages-include="js/view/messageValidateForm.html"></div>
                    </div>
                    <label class="item item-input">
                        <span class="input-label">Nouveau mot de passe</span>
                        <input type="password" ng-model="user.newPassword" name="newPassword" required>
                    </label>
                    <div ng-messages="form.newPassword.$error" ng-show="form.$submitted" role="alert">
                        <div ng-messages-include="js/view/messageValidateForm.html"></div>
                    </div>

                    <label class="item item-input">
                        <span class="input-label">Confirmation mot de passe</span>
                        <input type="password" ng-model="user.confirmationPassword" name="confirmationPassword" required>
                    </label>
                    <div ng-messages="form.confirmationPassword.$error" ng-show="form.$submitted" role="alert">
                        <div ng-messages-include="js/view/messageValidateForm.html"></div>
                    </div>

                </div>
                <div class="row">
                    <a ui-sref="login" class="button button-small button-energized col col-40">Annuler</a>
                    <button ng-click="reset(form)" class="button button-small button-balanced col col-offset-20 col-40">Reinitialiser</button>
                </div>

            </form>

        </div>
    </ion-content>
</ion-view>
